$primary: #b300df;
@import "~bootstrap/scss/bootstrap";

.display-one-half {
  font-size:5.3rem;
  line-height:1;
}

.topContainer {
  min-height:100vh;
}

.vertical-timeline-element {
  margin-top: 1rem!important;
  margin-bottom: 1rem!important;
}

[data-bs-theme=dark] .dateColor {
  color: var(--bs-white);
}

[data-bs-theme=light] .dateColor {
  color: var(--bs-dark);
}

// Fix for case where date text collapses onto the timeline elements themselves
@media (max-width: 1169.98px) {
  [data-bs-theme=light] .dateColor {
    color: var(--bs-white);
  }
}

#getAQuoteSection {padding-bottom: 11rem;}

@media (max-width: 767.98px) {
  .responsive-font-size{font-size: 18px;}
  #getAQuoteSection {padding-bottom: 6rem;}
}

.hidden-elements.hidden, .hidden-script-elements.hidden, .hidden-inline-script-elements.hidden {
  display: none;
}
/* Always show elements on larger screens */
@media (min-width: 992px) {
  .hidden-elements {
    display: flex!important;
  }
}

@media (min-width: 1200px) {
  .hidden-script-elements {
    display: flex!important;
  }
  .hidden-inline-script-elements {
    display: inline!important;
  }
}

html, body {
  overflow-x:hidden 
} 